<br><br><br><br><br>
<section>
  <h2 class="titre">👥 Utilisateurs</h2>

  <!-- Barre de recherche -->
  <div class="search-container">
    <input
      [(ngModel)]="searchQuery"
      placeholder="Rechercher par nom, e-mail ou statut"
      (input)="applySearch()"
    />
  </div>

  <!-- Liste des utilisateurs filtrés -->
  <div class="table-container">
    <table>
      <tr>
        <th>Email</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of users | search: searchQuery">
        <td class="color">{{ user.email }}</td>
        <td class="colorr">{{ user.status }}</td>
        <td>
          <button class="approve" (click)="approveUser(user.uid)">✅ Approuver</button>
          <button class="reject" (click)="rejectUser(user.uid)">❌ Refuser</button>
          <button class="block" (click)="blockUser(user.uid)">🚫 Bloquer</button>
          <button class="reset" (click)="resetPassword(user.uid)">🔑 Réinitialiser</button>
        </td>
      </tr>
    </table>
  </div>
</section>