<br><br><br><br><br>


<section>
  <div class="stock-history-container" id="stock">
    <h2 class="stock-history-title">📦 Historique des Stocks</h2>

    <table class="stock-table">
      <thead>
        <tr>
          <th>ID Produit</th>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix Unitaire HT</th>
          <th>Valeur Totale</th>
          <th>Dernière Mise à Jour</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of combinedData" class="c1">
          <td>{{ record.idProduit }}</td>
          <td>{{ record.nomProduit }}</td>
          <td>{{ record.quantite }}</td>
          <td>{{ record.prixUnitaireHT !== null ? (record.prixUnitaireHT | number:'1.3-3') : '-' }} DT</td>
          <td>{{ record.valeurTotale !== null ? (record.valeurTotale | number:'1.3-3') : '-' }} DT</td>
          <td>{{ record.dateMiseAJour | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>